@import 'vars/colors'
@import 'abstracts/mixins'
@import 'vars/fonts'


.posRombo
    margin-top: -8rem
.iconsRombo
    position: relative
    width: 100%
    .pos1
        bottom: 4rem
        left: 2rem
        z-index: 3
    .pos2
        bottom: -.5em
        right: 1.75rem
        z-index: 3
.boxBanner, .boxBanner2
    position: relative
    margin: 3rem 0 0 0
    .boxImgLogo
        display: flex
        justify-content: center
        align-items: flex-start
        margin-top: -8.5rem
        position: relative
        z-index: 35
        img
            width: 240px
            height: 134px
            aspect-ratio: 1 / 1
            object-fit: contain
            position: relative
    .boxImgLogo2
        position: absolute
        top: 5rem
        left: 50%
        transform: translateX(-50%)
        z-index: 10
        img
            width: 180px
            height: 100px
            aspect-ratio: 1 / 1
            object-fit: contain
    .triangulo
        position: absolute
        bottom: -6.5rem
        left: -6rem
        z-index: 3
    .triangulo2
        position: absolute
        bottom: -6.5rem
        transform: scale(-1)
        right: -6rem
        z-index: 3
    .banner
        object-fit: cover
        width: 100% 
        height: 412px
        aspect-ratio: 1 / 1
        position: relative
        z-index: 20
        object-position: 0 -50px
        // @media screen and (min-width: 360px)
        //     object-position: 0px -17px
        // @media screen and (min-width: 375px)
        //     object-position: 0px -28px
        // @media screen and (min-width: 390px)
        //     object-position: 0px -39px
        // @media screen and (min-width: 412px)
        //     object-position: 0px -66px
        //     transform: scale(1.05)
        // @media screen and (min-width: 740px)
        //     object-position: 0px -38px
        //     transform: scale(1)


.boxBanner2
    margin: 0rem 0 0 0
    .banner
        object-position: 0 -50px
        