@import 'vars/colors'
@import 'abstracts/mixins'
@import 'vars/fonts'

body
     background: url('/assets/bg.png')
     background-repeat: repeat
     background-position: center 
     @media screen and (min-width: 992px)
          // background: url('/assets/bgintro2.png')
          background: url('/assets/bg3.png')
          background-size: cover
header
     nav
          a
               &.active
                    span
                         color: rgba($dorado,1) !important

.contentPlato
     display: flex
     justify-content: flex-start
     align-items: center
     flex-direction: column
     flex-wrap: wrap
     gap: 1rem
     .linesSeparateRes
          margin-top: 2rem
     .boxBotella
          display: flex
          flex-direction:  column
          justify-content: flex-start
          align-items: center
          flex-wrap: wrap
          border: 0px solid red
          padding: 0rem 0 0 0
          position: relative
          width: 100%
          h3
               font-family: $abel
               font-size: 22px
               line-height: 1.15em
               color: white
               text-align: center
               text-transform: uppercase
               margin: 1rem 0 0 0
          .iconRombo
               &.pos1
                    right: 1rem
                    top: 3rem
                    bottom: auto
                    @media screen and (min-width: 992px)
                         bottom: 7rem
                         top: auto
               &.pos2
                    left: 1rem
                    bottom: 7rem
                    top: auto
                    @media screen and (min-width: 992px)
                         bottom: auto
                         top: 7rem
     .boxPrecio
          width: 155px
          height: 62px
          display: flex
          flex-direction:  column
          justify-content: center
          align-items: center
          flex-wrap: wrap
          border: 1px solid $doradoClaro
          position: relative
          &::before
               content: ''
               position: absolute
               top: 50%
               left: -0.35rem
               transform: translateY(-50%) rotate(-45deg)
               width: 10px
               height: 10px
               background: $doradoClaro
          &::after
               content: ''
               position: absolute
               top: 50%
               right: -0.35rem
               transform: translateY(-50%) rotate(-45deg)
               width: 10px
               height: 10px
               background: $doradoClaro
          p
               font-family: $abel
               font-size: 28px
               line-height: 1.5em
               color: $doradoClaro
               text-align: left
               text-transform: uppercase
               margin: 0
          // img
.tabSlider,
.tabDrag
     position: absolute
     width: 100%
     &.tabSlider0, 
     &.tabSlider1,
     &.tabDrag0,
     &.tabDrag1
          opacity: 0
          top: 3rem
          left: 50%
          transform: translateX(-50%)
.containerSliders
     border: 0px solid red
     height: 400px
     position: relative
     
     .hideMe
          opacity: 0
     .masterWrap
          width: 100%
          // height: 100%
          position: absolute
          overflow: hidden

     .panelWrap
          height: 100%

     section
          height: 100%
          display: flex
          align-content: center
          flex-direction: column
          align-items: center
          justify-content: center
          font-weight: 700
          position: relative
          float: left

     .dot,
     .dot2
          width: 12px
          height: 12px
          border-radius: 100%
          position: relative
          background-color: #fff
          margin: 12px 8px
          cursor: pointer
          float: left

     .dots,
     .dots2
          position: absolute
          z-index: 100
          left: 50%
          bottom: 16px
          width: 100%
          transform: translateX(-50%)
          display: flex
          justify-content: center

#leftArrow
     left: 12px

#rightArrow
     right: 12px
.accordion
     border: 0px solid red
     display: flex
     justify-content: center
     align-items: center
     flex-wrap: wrap
     flex-direction: column
     gap: 1rem
     width: 100%
     .tabAccordion1,
     .tabAccordion2
          display: none
          width: 100%
          // display: flex
          justify-content: center
          align-items: center
          flex-wrap: wrap
          flex-direction: column
          gap: 1rem
     .panel
          overflow: hidden
          border: 1px solid $dorado
          border-radius: 5px
          width: 100%
          .panel-header
               cursor: pointer
               border-radius: 5px
               padding: .5rem 1rem
               position: relative
               .header-arrow
                    position: absolute
                    top: 50%
                    right: .5rem
                    transform: translateY(-50%)
                    img
                         width: 16px
                         height: 8px
                         aspect-ratio: 1 / 1
                         object-fit: contain
               h3
                    font-family: $abel
                    font-size: 16px
                    line-height: 1.5em
                    color: $dorado
                    text-align: left
                    text-transform: uppercase
                    margin: 0
          .panel-content
               background: transparent
               height: 0
               padding: 0 1rem 0
               p
                    font-family: $abel
                    font-size: 16px
                    line-height: 1.5em
                    color: #E0D0A6
                    text-align: left
                    margin: 0 0 .75rem 0

.overflowHidden
     overflow: hidden
.iconRombo
     width: 53px
     height: 53px
     position: absolute
     border: 1rem solid $dorado
     transform: rotate(45deg)
     top: auto
     left: auto
     right: auto
     bottom: auto
     background: transparent
     box-sizing: border-box
     &.claro
          border: 1rem solid $doradoClaro
          &.small
               border: .55rem solid $doradoClaro
          &.big
               border: 1.55rem solid $doradoClaro
     &.small
          width: 30px
          height: 30px
          border: .55rem solid $dorado
     &.big
          width: 80px
          height: 80px
          border: 1.55rem solid $dorado
.boxContenidoRombo
     margin: 0 auto
     position: relative
     width: 358px
     height: 358px
     
     &.small
          width: 264px
          height: 264px
     .boxLogoRest
          // width: 120px
          // height: 93px
          margin: 0 auto
          img
               width: auto
               height: auto
               aspect-ratio: 1 / 1
               object-fit: contain
     .romboPrincipal
          width: 100%
          height: 100%
          background: url('/assets/rombo.png')
          background-size: cover
          background-repeat: no-repeat
          position: relative
          z-index: 3
          display: flex
          justify-content: center
          align-items: center
          flex-direction: column
          h3,h4
               font-family: $norpethDemiBold
               font-size: 16px
               line-height: 1em
               text-transform: uppercase
               color: $grisOscuro
               text-align: center
               margin-top: 0.5rem
               width: 175px
          h4
               text-transform: none
               
          &.flotante
               display: flex
               justify-content: center
               align-items: center
               flex-wrap: wrap
               flex-direction: column
               position: relative
               h3
                    position: absolute
                    top: 2.5rem
                    left: 50%
                    transform: translateX(-50%)
               p
                    position: absolute !important
                    bottom: 2.5rem
                    left: 50%
                    transform: translateX(-50%)
                    width: 115px
          .boxPcontainer
               position: relative
               border: 0px solid red
          p
               &.botonRestaurante
                    // font-family: $RodfatTwo
                    // font-size: 14px
                    // line-height: 1.15em
                    // color: $grisOscuro
                    // text-align: center
                    // position: relative
                    // padding: 0 1.5rem
                    // display: inline-block
                    width: 116px
                    height: 32px
                    background: $grisOscuro
                    font-family: $norpethDemiBold
                    font-size: 12px
                    line-height: 2.75em
                    color: $doradoClaro
                    text-align: center
                    text-transform: uppercase
                    margin: 0
                    border-radius: 10px
                    bottom: 3.5rem
                    @media screen and (min-width: 992px)
                         bottom: 5.5rem
                    &.big
                         width: 148px
                         height: 42px
                         line-height: 1.15em
                         padding: .45rem 0 0
                         box-sizing: border-box
                    // &.small
                    //      font-size: 12px
                    //      padding: 0 1rem
                    //      &::before
                    //           top: 30%
                    //      &::after
                    //           top: 30%
                    &::before
                         content: ''
                         background: $doradoClaro
                         width: 10px
                         height: 10px
                         position: absolute
                         right: -0.25rem
                         top: 50%
                         transform: translateY(-50%) rotate(45deg)
                    &::after
                         content: ''
                         background: $doradoClaro
                         width: 10px
                         height: 10px
                         position: absolute
                         left: -0.25rem
                         top: 50%
                         transform: translateY(-50%) rotate(45deg)
          .boxInfo
               display: flex
               flex-direction: column
               justify-content: center
               align-items: center
               flex-wrap: wrap
               h2
                    font-family: $RodfatTwo
                    font-size: 22px
                    line-height: 1.15em
                    color: $grisOscuro
                    text-align: center
                    margin-top: .85rem
                    text-transform: uppercase
                    
               .boxIcon
                    display: flex
                    justify-content: center
                    align-items: center
                    img
                         aspect-ratio: 1 / 1
                         object-fit: cover
                        
                         
     .romboSecundario
          width: 340px
          height: 340px
          background: url('/assets/madera.png')
          background-size: cover
          background-repeat: no-repeat
          position: absolute
          top: 2rem
          left: .5rem
          z-index: 2

     &.romboBannerCabecera
          @media screen and (min-width: 992px)
               width: 480px
               height: 480px
          h4
               @media screen and (min-width: 992px)
                    font-size: 20px
                    width: 272px
          .boxIcon
               img
                    @media screen and (min-width: 992px)
                         width: 72px
                         height: 78px
               &.iconRestaurante
                    img
                         @media screen and (min-width: 992px)
                              width: 72px
                              height: 63px 
               &.iconpregunta
                    img
                         @media screen and (min-width: 992px)
                              width: 80px
                              height: 65px 
               &.iconMapa
                    img
                         @media screen and (min-width: 992px)
                              width: 70px
                              height: 59px 
          .boxInfo
               h2
                    @media screen and (min-width: 992px)
                         font-size: 32px
                         line-height: 1em


.buttonStyle
     width: 238px
     height: 52px
     background: linear-gradient(180deg, #E6B774 17.24%, #BC8B44 100%)
     border-radius: 15px
     border: 0
     color: white
     font-family: $RodfatTwo
     // font-weight: 400
     font-size: 16px
     line-height: 1.5em
     text-align: center
     &:focus
          border: 0px solid $dorado
          outline: none
.posrelative
     position: relative !important
     border: 0px solid red
.botonFlotante
        position: absolute
        top: -6rem
        left: 1rem
        z-index: 100
        @media screen and (min-width: 992px)
          top: -8rem
          left: 0
.centrarBotonGeneral
     display: flex
     justify-content: center
     align-items: center
     margin-top: 5rem
.botonGeneral
     width: 235px
     height: 52px
     background: $grisOscuro
     font-family: $norpethDemiBold
     font-size: 14px
     line-height: 1.15em
     color: $doradoClaro
     text-align: center
     text-transform: uppercase
     margin: 0
     border-radius: 10px
     position: relative
     border: 1px solid $doradoClaro
     box-sizing: border-box
     padding-top: .5rem
     cursor: pointer
     text-decoration: none
     &.flexBox
          display: flex
          justify-content: center
          align-items: center
          padding-top: .25rem
          width: 153px
          height: 48px
     img
          width: 12px
          height: 19px
          margin-right: .5rem
     span
          font-family: $norpethDemiBold
          font-size: 14px
          line-height: 1.15em
          color: $doradoClaro
          text-align: center
     &.big
          width: 148px
          height: 42px
          line-height: 1.15em
          padding: .45rem 0 0
          box-sizing: border-box
     // &.small
     //      font-size: 12px
     //      padding: 0 1rem
     //      &::before
     //           top: 30%
     //      &::after
     //           top: 30%
     &::before
          content: ''
          background: $doradoClaro
          width: 10px
          height: 10px
          position: absolute
          right: -0.25rem
          top: 50%
          transform: translateY(-50%) rotate(45deg)
     &::after
          content: ''
          background: $doradoClaro
          width: 10px
          height: 10px
          position: absolute
          left: -0.25rem
          top: 50%
          transform: translateY(-50%) rotate(45deg)